
/* diplay flex and sticky position */
ul {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 14px;
    background: #212529;
    color: white;
    font-size: large;
}


/* first combinators */
li a {
    color: white;
    text-decoration: none;
}

/* second combinators */
ul > li {
    margin: 10px;
}


/* first pseudo class */
li a:hover {
    font-size: x-large;
}


/* second and different pseudo class */
li a:active {
    color: white;
}

/* thirs combinator */
.first-gray-header, .second-gray-header {
    color: grey;
}

#search {
    margin-left: auto;
}

input[type="search"] {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: white;
    color: grey;
    font-size: large;
    
}

input[type=search]:focus {
    border: 3px solid white;
  }

input[type="submit"] {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: #212529;
    color: white;
    font-size: large;
}

.submit-button:hover{
    padding: 12px;
}

body {
    background: #1d2124;
    font-size: large;
    font-family: 'Merriweather', serif;
    color: white;
}


#logo {
    width: 50px;
    height: 50px;
    border: 2px solid greenyellow;
    border-radius: 50%;
}

.box {
    border: 5px solid #28a745;
    margin-bottom: 20px;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    text-align: justify;
    padding: 40px;
    
}


a {
    color: greenyellow;
}

#submit-button {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    padding: 10px;
    font-size: LARGE;
}

.toggle {
    color: #fff;
    background-color: red;
    border-color: red;
    padding: 5px;
    font-size: small;
}